@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
  line-height: 1.6;
  padding: 0 40px;
}

header {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background: salmon;
  color: white;
  border-radius: 5px;
  width: 100px;
  border: none;
}

input[type='text'] {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  border: 1px #ccc solid;
  margin-right: 5px;
}

#todo-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#todo-list > div {
  border: 1px #666 solid;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.done {
  background: #ccc;
}

.spinner {
  --frame: 1s;
}
.spinner,
.spinner::before,
.spinner::after {
  border: 5px solid black;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 50%;
}
.spinner {
  margin: auto;
  font-size: 4em;
  position: absolute;
  top: 4px;
  left: 140px;

  width: 0.5em;
  height: 0.5em;
  -webkit-animation: anim-spinner var(--frame) ease infinite;
  animation: anim-spinner var(--frame) ease infinite;
}


.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
}
.spinner::before {
  inset: 1px;
  -webkit-animation: anim-spinner calc(var(--frame) * 4.3) ease-in infinite;
  animation: anim-spinner calc(var(--frame) * 4.3) ease-in infinite;
}
.spinner::after {
  inset: 7px;
  -webkit-animation: anim-spinner calc(var(--frame) * 1.51) ease-out infinite;
  animation: anim-spinner calc(var(--frame) * 1.51) ease-out infinite;
}

@-webkit-keyframes anim-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes anim-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
